<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @RenderSection("link", required: false)
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header>
        <div class="navbar navbar-inverse">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <a class="navbar-brand" href="~/Home/Index/">Lakshmi</a>
                        <a class="navbar-brand" href="~/Home/FindUser/">Найти пользователя</a>
                        <a class="navbar-brand" href="~/Home/FindPhoto/">Найти фото</a>
                        @Html.Partial("AdminOrModer")
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
        </div>
    </header>
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Все права защищены</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
